<header class="cinema-navbar">
  <div class="nav-left">
    <span class="logo-text" routerLink="/cartelera">CINEMARK</span>
    <nav class="nav-links">
      <a routerLink="/cartelera" routerLinkActive="active">CARTELERA POR CINE</a>
      <a routerLink="/alimentos" routerLinkActive="active">ALIMENTOS Y BEBIDAS</a>
      <a routerLink="/promociones" routerLinkActive="active">PROMOCIONES</a>
      <a routerLink="/club" routerLinkActive="active">CINEMA CLUB</a>
    </nav>
  </div>
  <div class="nav-right">
    <span class="dropdown-cine">📍 ELEGIR CINE ▾</span>
    <span class="dropdown-pelicula">🎬 ELEGIR PELÍCULA ▾</span>
  </div>
</header>